{% extends "base.html" %}

{% block "content" %}

<h2>{{ box.name }}</h2>

<ul>
    <li><a href="{% url 'boxinventory:addplant' box.id %}">New plant</a></li>
    {% if not box.qr_applied %}
    <li><a href="{% url 'boxinventory:set-qr-applied' box.id %}">QR code is applied</a></li>
    {% endif %}
    <li><a href="{% url 'boxinventory:remove-plants' box.id %}">Remove plants</a></li>
</ul>

<h2>Plants</h2>
<ul>
    {% for p in contents %}
    <li>{{ p.dated_name }}</li>
    {% endfor %}
</ul>

<h2>Previously</h2>
<ul>
    {% for p in removed %}
    <li>{{ p.dated_name }}</li>
    {% endfor %}
</ul>

<div>
<a href="{% url 'boxinventory:index' %}">Back to list</a>
</div>

{% endblock %}
