<html>
    <head>
        <style>
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* .wrapper {
    display: flex;
    flex-wrap: wrap;
}
*/
figure {
    display: table;
    page-break-inside: avoid;
    text-align: center;
}
figure img {
    border: 3px solid black;
    margin-bottom: 1em;
}
figcaption {
    display: table-caption;
    caption-side: bottom;
}
        </style>
    </head>
<body>
<div class="wrapper">
{% for box in boxes %}
<figure>
<img src="{% url 'boxinventory:qr' box.id %}" />
<figcaption>{{ box.name }}</figcaption>
</figure>
{% endfor %}
</div>
</body>
</html>
